<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
    <% if (locals.user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <form action="/log-out" method="GET">
            <button type="submit">Log out</button>
        </form>
        <h2>Upload a File</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" />
        <button type="submit">Upload</button>
        </form>
        <h2>Your Files</h2>
        <ul>
            <% files.forEach(file => { %>
                <li><a href="/files/<%= file.id %>"><%= file.filename %></a></li>
            <% }) %>
        </ul>

    <% } else { %>
        <h1>Please Log In or Sign Up</h1>
        <a href="/">Log In</a> | <a href="/sign-up">Sign Up</a>
    <%}%>
</body>
</html>
