<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up</h2>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
<form action="/sign-up" method="POST">
  <input
    type="text"
    name="username"
    placeholder="Username"
    value="<%= username || '' %>"
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
  />
  <button type="submit">Sign Up</button>
</form>

  <button><a href="/">Log In</a></button>
</body>
</html>
